.root {
  padding: 24px 0;
  width: 100%;
}

.header {
  text-align: center;
}

.contactSection {
  display: flex;
  justify-content: flex-start;
}

.imgWrapper {
  width: 100%;
  margin: 0 15px;
  padding: 0;
}

.mainImg {
  display: block;
  width: 100%;
}

.contactsInfo {
  display: block;
}

p {
  text-align: justify;
  padding-bottom: 10px;
}