.root {
  padding: 24px 0;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.heading {
  margin: 10px 0;

}

.anchor {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  svg {
    display: none;
    width: 20px;
    height: 20px;
    fill: rgba(168, 168, 168, 1.0);
  }
  &:hover {
    svg {
      display: block;
    }
  }
}

.paragraph {
  margin: 10px 0;
  text-align: justify;
}

.img {
  display: block;
  margin: 15px auto;
  width: 40%;
}
